<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <label class="text-2xl font-bold" for="email">Email</label>
  <input type="email" id="email" formControlName="email"
    class="w-full rounded-md border border-gray-300 px-3 py-2.5 placeholder-gray-300 shadow shadow-gray-100 focus:border-gray-500 focus:outline-none valid:[&:not(:placeholder-shown)]:border-green-500 [&:not(:placeholder-shown):not(:focus):invalid~span]:block invalid:[&:not(:placeholder-shown):not(:focus)]:border-red-400" autocomplete="off" required pattern="[a-z0-9._+-]+@[a-z0-9.-]+\.[a-z]{2,}$">
  <input type="password" id="password" formControlName="password">
  <button type="submit" [disabled]="!loginForm.valid"
  class="w-full rounded-md bg-indigo-500 px-3 py-4 text-white focus:bg-indigo-600 focus:outline-none group-invalid:pointer-events-none group-invalid:opacity-70">Submit</button>
</form>
